

.header{
    font-weight: 600;
    width: 100%;
    background: transparent;
    color: #B958A5;
    margin-top: 0px;
    padding: 3rem 1rem;
    text-align: center;
}

.q{
    font-weight: 600;
    width: 100%;
    background: transparent;
    color: #fff;
    margin-top: 0px;
    padding: 3rem 1rem;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 220px;
    margin-bottom: 80px;
    margin-top: -10px;
    height: 650px;
    font-family: Arial, sans-serif;
}

.container {
    width: 750px;/*750px*/
    height: 500px;
    position: relative;
    border: 2px solid #B958A5;
    box-shadow: 0 0 25px #B958A5;
    overflow: hidden;
}

.container .box{
    position: absolute;
    top: 0;
    width: 50%;/*375px*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box.login{
    left: 0;
    padding: 0 40px;
}

.form-box.rigester{
    left: 0;
    padding: 0 40px;
}

.box h2{
    font-size: 32px;
    text-align: center;
    color: #fff;
}

.box .input-box{
    position: relative;
    width: 80%;/*300px*/
    height: 50px;
    margin-top: 8%;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-bottom: 2px solid #fff;
    padding-right: 23px;
}

.input-box label{
    color: #fff;
    position: absolute;
    top: 50;
    left: 0;
    transform: translateY(-120%);
    font-size: 16px;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    transform: translateY(-300%);
    color: #B958A5;
}

.input-box i{
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateX(100%);
    transition: .5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i{
    color: #B958A5;
}


.input-box button{
    position: absolute;
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #B958A5;
    transition: .5s;
}

.input-box button:hover{
    background-color: #B958A5;
}

.rig-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 10px;
    color: #fff;
}

.rig-link a{
    text-decoration: none;
    color:#B958A5;
    font-weight: 600;
}

.rig-link a:hover{
    text-decoration: underline;
}

.info{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info.Login{
    right: 0;
    text-align: right;
    text-transform: uppercase;
    padding: 0 40px 60px 150px;
}
.info.Rigester{
    right: 0;
    text-align: right;
    text-transform: uppercase;
    padding: 0 40px 60px 150px;
}
.info h2{
    font-size: 36px;
    line-height: 1.3;
}

.info p{
    font-size: 16px;
}

.container .curved-shape{
    position: absolute;
    right:0;
    top: -5px;
    height: 600px;
    width: 850px;
    background: linear-gradient(45deg, #25252b, #B958A5);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}

footer{
    display: flex;
    justify-content: center;
    align-content: bottom;
    color: #fff;
    text-align: center;

}

.start{
    display: block;
    position: relative;
    left: 30%;
    width:300px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid #B958A5;
    box-shadow: 0 0 0px #B958A5;
    color: #fff;
    background: transparent;
    transition: .7s;
}

.start:hover {
    color:#B958A5;
    box-shadow: 0 0 25px #B958A5;
}


.logout{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    transition: .5s;
    position: absolute;
    top: 10px;
    left: 20px;
}

.logout:hover {
    text-decoration: underline;
    color: #B958A5;
}

.correct {
    color: green;
}

.check {
    display: block;
    position: relative;
    left: 30%;
    width:300px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid #B958A5;
    box-shadow: 0 0 0px #B958A5;
    color: #fff;
    background: transparent;
    transition: .7s;
}

.check:hover {
    color:#B958A5;
    box-shadow: 0 0 25px #B958A5;
}

.correct_button {
    display: block;
    position: relative;
    left: 5%;
    width:300px;
    height: 100px;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid #B958A5;
    box-shadow: 0 0 0px #B958A5;
    color: #fff;
    background: transparent;
    transition: .7s;
}

.correct_button:hover {
    color:#B958A5;
    box-shadow: 0 0 25px #B958A5;
}
