<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/styles.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>THE GREATEST GAME!</title>


    </head>
    <body>
        <header>
            <main>
                <form action= "/solve">
                    <div class= "header">
                        <h1 class="correct">Correct!</h1>
                    </div>
                    <div class= "header">
                        <h1>You are Genius.</h1>
                    </div>
                    <div>
                        <button class="correct_button" type="submit">NEXT</button>
                    </div>
                </form>
            </main>
        </header>
            <footer class="copyright">
                <p>&copy;2024Kgames</p>
            </footer>
    </body>
