<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="/static/styles.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>THE GREATEST GAME!</title>


    </head>
    <body>
        <header>
            <div class= "header">
                <h1>THE GREATEST GAME</h1>
            </div>
        </header>
            <main>
                <form action="/start" methods="POST">
                    <P>
                        <button class="start"type= "submit" name="start">START</button>
                    </P>
                    <P>
                        <h2 class="q" >Help:</h2>
                    </P>
                    <div>
                        <h2 class="q" >1. Make sure to logout after you finsh to save your progres</h2>
                    </div>
                    <div>
                        <h2 class="q" >2. If you enterd a wrong answer the page will be reloaded, but when you enter a correct answer
                            it will direct you to another page
                        </h2>
                    </div>
                    <div>
                        <h2 class="q" >3. Read the questions carefuly</h2>
                    </div>
                </form>
            </main>
            <footer class="copyright">
                <p>&copy;2024Kgames</p>
            </footer>
    </body>
